name: CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
      with:
        go-version-file: go.mod
        cache: false

    - name: Lint
      uses: golangci/golangci-lint-action@d6238b002a20823d52840fda27e2d4891c5952dc # v4

    - name: Validate Go modules
      run: ./scripts/validate

    - name: Test
      run: ./scripts/test

    - name: Get Tag
      if: startsWith(github.ref, 'refs/tags/v')
      run: echo "GITHUB_TAG=$GITHUB_REF_NAME" >> $GITHUB_ENV

    - name: Build
      env:
        CROSS: 1
      run: ./scripts/build

    - name: Package
      run: |
        ./scripts/package
        ls -lR dist/artifacts
        # Stage binary for packaging step
        cp -r ./bin/* ./package/

        # Export the tag for the next step
        source ./scripts/version
        echo "VERSION=$VERSION"
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Docker Build
      uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5
      with:
        push: false
        context: package
        tags: rancher/cli2:${{ env.VERSION }}
