name: FOSSA

on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches:
      - v*
      - main

jobs:
  fossa:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # needed for the Vault authentication

    steps:
      - name: Checkout Repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Load Secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/org/rancher/fossa/push token | FOSSA

      - name: Check FOSSA compliance
        uses: fossas/fossa-action@main
        with:
          api-key: ${{ env.FOSSA }}
